            body {
                -webkit-user-select: none;
                margin: 0px;
                background-color: #cccccc;
                font-family: Helvetica;
                font-size: 16;
            }
            /* td
            {
            border:1px solid #000000;
            }
           */
            
            td.ref {
                font-family: Arial;
                font-style: italic;
                color: #52494C;
                font-size: 16px;
                font-weight: bold;
                /*padding:1px 3px 1px 3px;
                margin:1px 1px 1px 1px;*/
            }
            
            input.input {
                width: 100%;
                height: 28px;
                border-width: 2pt;
                border-color: #bdbdbd;
                font-size: 19px;
                font-weight: normal;
                color: #333333;
                padding-top: 6px;
            }
            
            input.output {
                width: 100%;
                height: 28px;
                border-width: 2pt;
                border-color: #F58324;
                font-size: 19px;
                font-weight: bold;
                color: #333333;
                /*color:#5A5A5A;*/
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, #f6ae6b), color-stop(0, #ffffff));
                padding-top: 6px;
                text-align: center;
            }
            
            textarea.output {
                width: 100%;
                height: 50px;
                border-width: 2pt;
                border-color: #F58324;
                font-size: 15px;
                font-weight: normal;
                color: #333333;
                /*color:#5A5A5A;*/
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, #FAAB6F), color-stop(0, #ffffff));
                padding-top: 6px;
                text-align: center;
            }
            
            input.default {
                width: 100%;
                height: 28px;
                border-width: 1pt;
                border-color: #b2bd2f;
                font-size: 19px;
                font-weight: normal;
                color: #333333;
                /*color:#5A5A5A;*/
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, #ffffff), color-stop(0, #b2bd2f));
                padding-top: 6px;
            }
            
            .input_name {
                font-weight: bold;
                color: 000000;
                padding-right: 0px;
            }
            
            .input_unit {
                font-weight: bold;
                color: 686868;
            }
            
            tr.result_tr {
                background-color: #cccccc;
            }
            
            tr.input_tr {
                background-color: #f2f2f2;
            }
            
            tr.blank {
                height: -10px;
                margin-top: -5px;
            }
            
            .drop_center {
                height: 26px;
                width: 100%;
                font-size: 15px;
                font-weight: bold;
                color: #686868;
            }
            
            .drop_center_intervention {
                height: 25px;
                width: 100%;
                font-size: 13.5px;
                font-weight: bold;
                color: #686868;
            }
            
            .drop_right {
                height: 25px;
                width: 88px;
                font-size: 15px;
                font-weight: bold;
                color: #686868;
            }
            
            .resetbox {
                color: ffffff;
                height: 25px;
                font-weight: normal;
                font-size: 12pt;
                width: 100%;
                height: 150%;
                border-color: black;
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, #000000), color-stop(0, #ffffff));
            }
            
.resetBtn {
    height: 45px;
    font-weight: bold;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    background: #d0d0d0;
    border: solid 1px #c0c0c0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    vertical-align: baseline;
    margin-top: 1px;
}
            span.color_panel {
                background-color: #ffffff;
                color: #ffffff;
                width: 100%;
                font-size: 20px;
                -webkit-border-radius: 6px;
                border: 2px solid #bdbdbd;
                padding-left: 2px;
            }
            /*
             Change the look'n'feel of labels (which are adjacent to radiobuttons).
             Add some margin, padding to label
             */
            
            input[type=radio] {
                display: none;
                margin: 2px 2px 2px 2px;
                padding: 1px 1px 1px 1px;
            }
            
            input[type=radio] + label {
                display: inline-block;
                margin: 0px 2px 0px 2px;
                padding: 2px 1px 0px 1px;
                background-color: #ffffff;
                border: 2px solid #dfdfdf;
                width: 100%;
                height: 23px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                text-align: center;
                font-size: 16;
                font-weight: bold;
                color: #686868;
            }
            
            input[type=radio]:checked + label {
                background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#662016));
                border: 2px solid #ececec;
                color: #ffffff;
                text-align: center;
                width: 100%;
                font-size: 16;
                font-weight: bold;
            }
            
            .flipButton {
               font-weight: bold;
                -webkit-border-radius: 7px;
                -moz-border-radius: 7px;
                -o-border-radius: 7px;
                border-radius: 7px;
                background: #d0d0d0;
                border: solid 1px #c0c0c0;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 14px;
                letter-spacing: 1px;
                vertical-align: baseline;
                margin-top: 1px;
                margin-right: 10px;
                float: right;
            }
            
            .abbBtn {
                height: 60px;
                font-weight: bold;
                -webkit-border-radius: 7px;
                -moz-border-radius: 7px;
                -o-border-radius: 7px;
                border-radius: 7px;
                background: #d0d0d0;
                border: solid 1px #c0c0c0;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 14px;
                letter-spacing: 1px;
                vertical-align: baseline;
                margin-top: 1px;
                margin-right: 10px;
                float: right;
            }
            
            .abbBtnClick {
                height: 60px;
                font-weight: bold;
                -webkit-border-radius: 7px;
                -moz-border-radius: 7px;
                -o-border-radius: 7px;
                border-radius: 7px;
                background: #7c7c7c;
                border: solid 1px #c0c0c0;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 14px;
                letter-spacing: 1px;
                vertical-align: baseline;
                margin-top: 1px;
                margin-right: 10px;
                float: right;
            }
            
            img.pdfImage { width: 45px;
    height: 45px;
	padding:5px;
                align: right;
            }
            
            .info_text_box_abb {
                margin-top: -7px;
                width: 100%;
                position: relative;
                color: #000000;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                font-family: "Helvetica";
                font-weight: italic;
                text-align: left;
                background-color: #e1e1e1;
                font-size: 14px;
                color: #52494C;
                font-weight: bold;
                font-style: italic;
            }
.flip-pdf-button {
    width: 50px;
    height: 45px;
    align: right;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    background: #d0d0d0;
    border: solid 1px #c0c0c0;
    vertical-align: baseline;
    margin: auto;
    float: right;
}


.pdf-image {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.abb-button {
    height: 45px;
    font-weight: bold;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    background: #d0d0d0;
    border: solid 1px #c0c0c0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    vertical-align: baseline;
    margin-top: 1px;
    margin-right: 10px;
    float: right;
}
.abb-button-click {
    height: 45px;
    font-weight: bold;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    background: #7c7c7c;
    border: solid 1px #c0c0c0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    vertical-align: baseline;
    margin-top: 1px;
    margin-right: 10px;
    float: right;
}