<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/jumbo-header %>

        <div class="container">
            <div class="card  shadow">
                <div class="card-body">

                    <div class="container">
                        <h2>List of Scripts</h2>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Sr. No
                                    </th>
                                    <th>
                                        Script
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        1.
                                    </td>
                                    <td>
                                        Hyphenation
                                    </td>
                                    <td>
                                        <a target="_blank" href="hyphenation/">
                                            <button class="btn btn-primary">Open Script</button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2.
                                    </td>
                                    <td>
                                        Insert Cutting Keys in Big HTML
                                    </td>
                                    <td>
                                        <a target="_blank" href="cutting/">
                                            <button class="btn btn-primary">Open Script</button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3.
                                    </td>
                                    <td>
                                        Abbreviations Script
                                    </td>
                                    <td>
                                        <a target="_blank" href="abbreviation/">
                                            <button class="btn btn-primary">Open Script</button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                            <!-- <tbody>
                                <tr>
                                    <td>
                                        1.
                                    </td>
                                    <td>
                                        Merge Toc Tree GTS
                                    </td>
                                    <td>
                                        <a href="mergeTocTree-GTS/">
                                            <p>Execute Script</p>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2.
                                    </td>
                                    <td>
                                        Map Name Tree
                                    </td>
                                    <td>
                                        <a href="mapNameTree/">
                                            <p>Execute Script</p>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3.
                                    </td>
                                    <td>
                                        Map Guideline ID To Index JSON
                                    </td>
                                    <td>
                                        <a href="mapIndexGLID/">
                                            <p>Execute Script</p>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        4.
                                    </td>
                                    <td>
                                        Extract Tools Text
                                    </td>
                                    <td>
                                        <a href="toolsTextExtractor/">
                                            <p>Execute Script</p>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        5.
                                    </td>
                                    <td>
                                        Hyphenation
                                    </td>
                                    <td>
                                        <a target="_blank" href="hyphenation/">
                                            <p>Open Script</p>
                                        </a>
                                    </td>
                                </tr>
                            </tbody> -->
                        </table>
                    </div>
                </div>
            </div>
        </div>

</body>

<style>
    body {
        background: #739ed1;
    }
</style>

</html>