<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
        <% include ./include-script-links %>
</head>

<body>
    <% include ../../partials/jumbo-header %>

        <div class="container">

            <div class="card shadow p-4 mb-4 bg-white">
                <div class="card-body">
                    <h5>
                        Your new token for this session will be:
                        <span class="text-primary"><%= userToken%></span>
                    </h5>
                    <p class="text-muted">
                        This token will serve as your unique identifier across all pages, as multiple users are currently using this system at the same time.
                    </p>
                </div>
            </div>

            <div class="card shadow p-4 mb-4 bg-white">
                <div class="card-body">
                    <div class="container shadow p-4 mb-4 bg-white">
                        <h2>Upload Zip</h2>
                        <p class="text-warning font-weight-bold">Note : This script expects you to follow a particular folder structure while creating a zip</p>
                        <p class="text-warning">So feel free to check the guide below on how to zip</p>
                        <form method='post' action='upload' enctype="multipart/form-data">
                            <!--  <div class="form-group">
                                <input type='file' name='fileUploaded' />
                            </div> -->
                            <select name="language" class="custom-select mb-5">
                                <option value="en">English</option>
                                <option value="de">German</option>
                                <option value="fr">French</option>
                                <option value="nl">Dutch</option>
                                <option value="es">Spanish</option>
                                <option value="it">Italian</option>
                              </select>

                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input" id="customFile" name="fileUploaded">
                                <label class="custom-file-label" for="customFile">Choose your Zip File</label>
                            </div>

                            <div class="form-group">
                                <input class="btn btn-primary" type='submit' />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card shadow p-4 mb-4 bg-white">
                <div class="card-body">
                    <div class="container">
                        <h2 class="text-danger">
                            Make sure your data zip is created using following procedure :
                        </h2>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="container shadow p-4 mb-4 bg-white">
                                    <img src="../../view/hyphenation/media/images/how-to-zip/1.png" class="img-thumbnail rounded" alt="Step 1">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="container shadow p-4 mb-4 bg-white">
                                    <img src="../../view/hyphenation/media/images/how-to-zip/2.png" class="img-thumbnail rounded" alt="Step 2">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="container shadow p-4 mb-4 bg-white">
                                    <img src="../../view/hyphenation/media/images/how-to-zip/3.png" class="img-thumbnail rounded" alt="Step 3">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="container shadow p-4 mb-4 bg-white">
                                    <img src="../../view/hyphenation/media/images/how-to-zip/4.png" class="img-thumbnail rounded" alt="Step 4">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

</body>

<script>
    $('#customFile').on('change', function() {
        //get the file name
        var fileName = $(this).val().split('fakepath')[1];
        //replace the "Choose a file" label
        console.log(fileName);
        $(this).next('.custom-file-label').html(fileName);
    })
</script>


</html>