<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
        <% include ./include-script-links %>
</head>

<body>
    <% include ../../partials/jumbo-header %>

        <div class="container">


            <div class="card shadow p-4 mb-4 bg-white">
                <div class="card-body">


                    <h4>Following folders were successfully uploaded :</h4>
                    <ul class="list-group shadow p-4 mb-4 bg-white">
                        <% for (var i = 0; i < uploadedList.length; i++) { %>
                            <li class="list-group-item">
                                <% if(!uploadedList[i].isFolder){%>

                                    <span><%= uploadedList[i].fileName %></span>
                                    <span class="text-danger float-xl-right">Unnecessary file detected! - This file will be ignored</span>
                                    <%}else{ %>
                                        <span class="font-weight-bold"><%= uploadedList[i].fileName %></span>
                                        <%}%>
                            </li>
                            <% } %>
                    </ul>


                    <h4 class="text-success">Script is now ready to run for the above uploaded folders</h4>

                    <a href="execute/">
                        <button type="button" class="btn btn-primary">Click to Run</button>
                    </a>
                </div>
            </div>

        </div>
</body>

</html>