<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
        <% include ./include-script-links %>
</head>

<body>
    <% include ../../partials/jumbo-header %>

        <div class="container">

            <div class="card shadow p-4 mb-4 bg-white">
                <div class="card-body">
                    <div class="container">
                        <h5>Following is the analysis of Abbreviation Script:</h5>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Analysis</th>
                                    <th>Figure</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Total Abbreviations retrieved
                                    </td>
                                    <td class="text-success font-weight-bold">
                                        <%= SCRIPT_ANALYTICS.TOTAL_ABBREVIATIONS%> keys
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card shadow p-4 mb-4 bg-white">
                <div class="card-body">
                    <h4 class="text-success">
                        Your data was successfully processed with retreiving abbreviations
                    </h4>
                    <h6>
                        You can now download the excel file containing all the abbreviation words from your BIG HTML
                    </h6>

                    <button onclick="download()" type="button" class="btn btn-success">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            Download Excel   
                        </button>
                </div>
            </div>

            <div class="card shadow p-4 mb-4 bg-white">

                <div class="card-body">
                    <h3 class="text-primary">
                        List of Abbreviation words retrieved
                    </h3>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Sr. No.
                                    </td>
                                    <th>
                                        Abbreviation Word
                                    </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i < ABBR_LIST.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <%= ABBR_LIST[i] %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>

                    </table>
                </div>

            </div>
        </div>


</body>

<script>
    function download() {
        window.location = '../download';
    }

    function goHome() {
        window.location = '../../';
    }
</script>

</html>